* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #929BA8;
}

body {
    background-color: #eff4f9;
    background-image: url(./img/Background.svg);
    background-repeat: no-repeat;
     background-size: cover;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #252E38;
}

.container {
    margin: 120px 19%;
    background-color: #fff;
     box-shadow: 10px 10px 20px 4px #a5a1a182;
     border-radius: 10px;
}

header{
    
    display: flex;
    align-items: center;
    justify-content: center;

}

header > img {
    /* grid-area: avatar; */
  
margin: 15px 25px 15px;
}

.avatar-text{
   /* grid-column: 3/4; */
    margin-top: 30px;
    width: min-content;
    padding-right: 70px;
}

.avatar-text h1{
font-family: 'Archivo Black', sans-serif;
font-size: 50px;
line-height: 50px;
margin-bottom: 10px;
color: #252E38;
}

.avatar-text p{
    font-family: 'Cormorant', serif;
    font-size: 24px;
    color: #252E38;
    }
.pages {
   /* margin-left: 60px; */
    /* grid-column: 4/4; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    color: #C0C5C9;

}

.pages::before{
    /* grid-column: 4/4; */
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-right: 10px;
    width: 20px;
    height: 160px;
    background-image: url(./img/stick.svg);
    background-repeat: no-repeat;
    background-size: initial;
}
.links {
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}

.contacts {
    padding: 20px;
    background: linear-gradient(90deg, #FAE1D0 0%, #FFADD7 50%, #9BB7FB 100%);
    color: #45484C;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts span {
    padding: 10px;
}
.email::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 20px;
    /* background-color: rgb(240, 16, 16); */
    background-image: url(./img/email.svg);
    background-repeat: no-repeat;
    background-size: initial;
    vertical-align: middle;
}

.tel::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 20px;
    /* background-color: rgb(240, 16, 16); */
    background-image: url(./img/tel.svg);
    background-repeat: no-repeat;
    background-size: initial;
    vertical-align: middle;
}

.site::before {
    content: "";
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 20px;
    /* background-color: rgb(240, 16, 16); */
    background-image: url(./img/site.svg);
    background-repeat: no-repeat;
    background-size: initial;
    vertical-align: middle;
}

.info {
    display: grid;
    grid-template-columns: 1.1fr 2.6fr;
    align-items: stretch;

}
/* ======================MAIN BLOCK======================= */
main {
    grid-column: 2/3;
    background-color: #EFF4F9;
    width: 94%;
}

.summary, 
.certificates, 
.experience {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 30px;
    padding: 20px;
    box-shadow: 10px 10px 20px 4px #a5a1a182;
    border-radius: 9px;
    background-color: #fff;
    width: 90%;
    
}
.certificates p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary::before {
    content: "";
    width: 410px;
    height: 140px;
    margin-right: 20px;
    margin-left: -70px;
    display: inline-block;
  
background-image: url(./img/stick1.svg);
background-repeat: no-repeat;
    background-size: initial;
    /* vertical-align: middle; */
}

.certificates::before {
    content: "";
    width: 140px;
    height: 140px;
    margin-right: 20px;
    margin-left: -70px;
    display: inline-block;
    /* vertical-align: middle; */

    background-image: url(./img/stick2.svg);
    background-repeat: no-repeat;
    background-size: initial;
    /* vertical-align: middle; */
  
}

 .experience::before{
    content: "";
    width: 410px;
    height: 140px;
    margin-right: 20px;
    margin-left: -70px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(./img/stick3.svg);
/*     background: linear-gradient(180deg, #DBAFE2 0%, #F4ADD6 50%, #FBB8D3 100%); */
background-repeat: no-repeat;
background-size: initial;
}
/* 
.summary::before{
    content: "";
    width: 15px;
    height: 140px;
    margin-right: 60px;
    display: inline-block;
    vertical-align: middle;
background-image: url(./img/circle.svg);
} */


/* =============ASIDE BLOCK================= */
aside {
    grid-column: 1;
    grid-row: 1;

}
.gps{
    /* text-align: left; */
    margin: 50px 0 20px 40px;
}
.gps p {
    width: 190px;
}

.gps p:first-child:before{
    content: "";
    width: 40px;
    height: 40px;
    margin: 0 15px 0 0;
    
    /* margin-left: -70px; */
    display: inline-block;
    vertical-align: middle;
    background-image: url(./img/gps.svg);
/*     background: linear-gradient(180deg, #DBAFE2 0%, #F4ADD6 50%, #FBB8D3 100%); */
background-repeat: no-repeat;
background-size: 90%;
}


.skills {
    /* text-align: left; */
    margin: 80px 0 30px 40px;
}

.skills h1 {
padding-bottom: 20px;
}
ul {
    list-style: none;
    padding-inline-start: 0;
}
li {
    padding-bottom: 10px;
    /* text-decoration: none; */
}
li:first-child::before{
    content: "";
    width: 40px;
    height: 40px;
    margin-right: 20px;
    /* margin-left: -70px; */
    display: inline-block;
    vertical-align: middle;
    background-image: url(./img/html.png);
/*     background: linear-gradient(180deg, #DBAFE2 0%, #F4ADD6 50%, #FBB8D3 100%); */
background-repeat: no-repeat;
background-size: 100%;
}
li:nth-child(2)::before{
    content: "";
    width: 40px;
    height: 40px;
    margin-right: 13px;
    margin-left: 7px;
    /* margin-left: -70px; */
    display: inline-block;
    vertical-align: middle;
    background-image: url(./img/css.png);
/*     background: linear-gradient(180deg, #DBAFE2 0%, #F4ADD6 50%, #FBB8D3 100%); */
background-repeat: no-repeat;
background-size: 68%;
}
li:nth-child(3)::before{
    content: "";
    width: 40px;
    height: 40px;
    margin-right: 20px;
    /* margin-left: 7px; */
    /* margin-left: -70px; */
    display: inline-block;
    vertical-align: middle;
    background-image: url(./img/sql.svg);
/*     background: linear-gradient(180deg, #DBAFE2 0%, #F4ADD6 50%, #FBB8D3 100%); */
background-repeat: no-repeat;
background-size: 100%;
}

.education {
    /* text-align: left; */
    margin: 50px 20px 30px 40px;
}
.education p {
    /* margin-bottom: 10px;
    margin-top: 10px; */
    margin: 10px 0;
    }

.curse{
    font-family: 'Cormorant', serif;
    font-size: 20px;
    line-height: 20px;
    color: #252E38;
}

/* =============media======================== */

@media (max-width: 910px) {
    aside {
        display: none;
}



.menu-toggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  user-select: none;
}

.menu-toggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}


.menu-toggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


/* #menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
} */

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
 .menu-toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
 .menu-toggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
 .menu-toggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


aside {
  /* position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-toggle input:checked ~ ul
{
  transform: none;
}